/**
 * Global Styles (Body, Buttons, Reusable PHP Blocks)
 *
 * @package Postali Child
 * @author Postali LLC
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	background: transparent;
	border: 0;
}

html, body {
	font-size: 18px;
	line-height: 1;
}

header, nav, footer, article, section { 
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: bold;
}

ul {
	list-style-type: disc;
	margin-left:20px;
}

ol {
	margin-left:20px;
}

blockquote {
	quotes: none;
	&:before, &:after {
		content: '';
		content: none;
	}
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}
 
body {
	background:$white;
}

.body-container {
    background:$ltgrey;
    overflow-x: hidden;

    section {
        position: relative;
        z-index: 1;
        
        &:first-of-type {
            padding-top: 130px;
        }
    }
}

.container {
    max-width:$desktop-lg;
    padding: 0 60px;
	z-index: 1;
	position: relative;

	@include respond(desktop-lg) {
		padding:0 50px !important;
	}

    @include respond(tab-port) {
        padding: 0 30px !important;
    }

	&.wide {
		max-width: 100%;
		margin:0;

        @include respond(desktop-full) {
			padding:100px 50px !important;
		}

		@include respond(desktop-lg) {
			padding:100px 50px !important;
		}
        
		@include respond(tab-port) {
			padding: 60px 30px !important;
			margin:0 30px;
		}

        @include respond(phone) {
			padding: 60px 0 !important;
		}

        .columns {
            max-width: $desktop-lg;
            padding: 60px 0 !important;
            margin: 0 auto;
        }
	}
}

section {
    padding: 80px 0;

    &.page-banner {
        @include respond(phone) {
            .spacer-90,
            .spacer-60 {
                height: 30px;
            }
        }
    }

    &.reversed {
        h2, h3, h4, p, ul li, ul li a {
            color:$white;
        }
    }

    &.emerald {
        background:$emerald;
    }
    
    @include respond(tab-port) {
        padding: 60px 0;
    }

    @include respond(phone) {
        padding: 40px 0;
    }
}

// columns and spacers //

.columns {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	align-items: flex-start;
	.column-20,
    .column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
        display:flex;
		position: relative;
		box-sizing: border-box;
		justify-content: flex-start;
		align-items: normal;
		flex-wrap: wrap;
        flex-direction: column;

        &.block {
            display:block;
        }
	}
	.column-break {
		width:100%;
		height:1px;
	}
	.column-20 {
		width:19.5%;
    }
    .column-25 {
		width:23%;
    }
    .column-50 {
		width:45%;
    }
    .column-33 {
		width:30%;
    }
    .column-66 {
		width:63%;
    }
    .column-75 {
		width:66%;
    }
    .column-full {
		width:100%;
		justify-content: space-between;
	}
	.column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
		@include respond(tab-port) {
			width:100%;
		}
		&.center {
			margin:0 auto;
		}

        &.centered {
			justify-content: center;
            text-align: center;
		}
	}
}

// spacing elements //

.spacer-break,
.spacer-15,
.spacer-30,
.spacer-60,
.spacer-90 {
    display:block;
	width:100%;
	@include respond(phone) {
		&.mobile {
			display:none;
		}
	}
}
.spacer-break { height:1px; }
.spacer-15 { height:15px; }
.spacer-30 { height:30px; }
.spacer-60 { height:60px; }
.spacer-90 { height:90px; }

// accordion styles //

.accordions {
    width:100%;
    &_title  {
		display: flex;
		background-color: $blk;
		cursor: pointer;
		margin-top: 15px;
		padding: 20px 40px;
		transition: 0.3s linear;
		text-align: left;
		align-items: center;
		line-height: 100%;
		border-radius: 50px;
        h3 {
            font-size:18px;
            font-weight:400;
            color:$white;
            transition:$trans;
            margin-bottom:0;
            margin-top:0;
            font-size:18px;
            font-weight:700;
			font-family: $sans;
        }
        span {
            align-self:center;
            justify-self:end;
            display: block;
            &:after {
                content: "+";
                display: inline-block;
                transition:$trans;
                font-size:16px;
                position: relative;
                color:$white;
                margin-left:5px;
                font-size:30px;
            }
        }
        
        &.active {
            background-color:$grey;
            span {
                &:after {
                    transform: rotate(45deg);
                }
            }
        }
    }

    &_content {
        display: none;
		padding: 50px 40px 10px;
		text-align: left;
		.headline {
			color: $white;
			font-size: 32px;
			margin-bottom: 20px;
			display: block;
			font-family:$sans;
			font-weight: 800;
		}
        p {
            color:$white;
        }
        ul {
            color:$white;

            li {
                &::before {
                    display:none;
                }
            }
        }
    }
}

.lined {
    padding: 0;
    margin-top: -1px;

    .container {
        border-top: 1px solid rgba(16,53,71,0.2);
        border-bottom: 1px solid rgba(16,53,71,0.2);
    }
}

.more {
    display: flex;
    align-items: center;

    a {
        text-decoration: none;
    }
    
    p {
        font-family: $sans;
        font-weight: 600;
        text-decoration: underline;
        font-size: 18px;
        margin-bottom: 0 !important;

        &.hide {
            display: none;

            &.clicked {
                display:block;
            }
        }

        &.show {
            display: block;

            &.clicked {
                display:none;
            }
        }
    }

    span.icon-accordion-expand-and-collapse-icon {
        background: $ltblue;
        padding: 8px;
        border-radius: 50%;
        font-size: 12px;
        margin-left: 30px;
        transition: $trans;

        &.rotate {
            rotate: 45deg;
        }
    }
}

// Drop Downs
#app-cover {
	@include drop-down-select;
}

// slider arrows 
.prev,
.next {
	cursor: pointer;
}
#awards {
	display: grid;
	.slick-track {
		display:flex;
	}
	.prev {
		position: absolute;
		left: 0;
		top: 50px;
		border: none;
		height: 36px;
		width: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: $grey;
		&:before {
			position: absolute;
			content: "\e905";
			color: $white;
			font-family: $icomoon;
			font-size: 15px;
		}
	}
	.next {
		position: absolute;
		right: 0;
		top:50px;
		border: none;
		height: 36px;
		width: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: $grey;
		&:before {
			position: absolute;
			content: "\e902";
			color: $white;
			font-family: $icomoon;
			font-size: 15px;
			margin-left: 5px;
		}
	}
}

// Pagination
.pagination {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;

    a, span {
        margin:0 5px;
    }
}

.nav-links {
    color: $white;

    .page-numbers {
        color: #999;
        font-family: $sans;
    }

    .current {
        color: $blk;
        font-weight: bold;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    a.next.page-numbers,
    a.prev.page-numbers {
        font-size: 0;

        &::after {
            font-size: 10px;
            font-family: $icomoon;
            color:$white;
            height:36px;
            width:36px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background: $dkblue;
            border-radius: 50%;
        }
    }

    a.next.page-numbers {
        &::after {
            content: "\e901";
        }
    }

    a.prev.page-numbers {
        &::after {
            content: "\e900";
        }
    }
}